<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>3장_프롬프트_엔지니어링</title>

</head>
<body>
    <h1>3장_프롬프트_엔지니어링</h1>

    <a href="/ai/prompt-template">prompt-template</a><br>
    <a href="/ai/zero-shot-prompt">zero-shot-prompt</a><br>
    <a href="/ai/few-shot-prompt">few-shot-prompt</a><br>
    <a href="/ai/default-method">default-method</a><br>
    <a href="/ai/multi-messages">multi-messages</a><br>
    <a href="/ai/role-assignment">role-assignment</a><br>
    <a href="/ai/chain-of-thought">chain-of-thought</a><br>
    <a href="/ai/step-back-prompt">step-back-prompt</a><br>
    <a href="/ai/self-consistency">self-consistency</a><br>
</body>
</html>
