<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>4장_프롬프트_엔지니어링</title>

</head>
<body>
    <h1>4장_프롬프트_엔지니어링</h1>

    <a href="/ai/list-output-converter">list-output-converter</a><br>
    <a href="/ai/bean-output-converter">bean-output-converter</a><br>
    <a href="/ai/generic-bean-output-converter">generic-bean-output-converter</a><br>
    <a href="/ai/map-output-converter">map-output-converter</a><br>
    <a href="/ai/system-message">system-message</a><br>
</body>
</html>
